*,h1,h2,h3,button {
	
	font-family: 'Josefin Sans', sans-serif;
	transition:color .5s ease;

}

body {
	margin:0 auto;
	transition: opacity 1s ease;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.controls {
	width: 100%;
}


 .book {
	width: 12em;
	height:19em;
	background-color: red;
	margin:4em;
	text-align: center;
	display:flex;
	flex-direction:column;
	justify-content: flex-start;

}

.book h3 {
	margin-bottom:.8em;	
	
}

.book h3 span{
	font-weight: normal;
	font-size:1.3rem;
	font-style: italic;
	white-space: nowrap;
}

.book h4 { 
	font-size:1.3rem;
}

.book h4 span{
	font-weight: normal;

}

.book h4{
	margin-bottom:0px;
	text-align:left;	
}

.book button {
	width: 100px;
	
}

.buttons {
	height:10em;
	display:flex;
	flex-direction: row;
	align-items: flex-end;
}

.buttons button{
	
	background-color:#8B0000;
	text-transform: uppercase;	
	border:none;
	padding:1em;
}

.buttons button:hover{
	color: yellow;
	background-color:#AA0000;

}

.book-form {
	z-index: 1000;
	position:fixed;
	opacity:1;
	top:20%;
}

.book-form form {	
	width: 50em;
	height: 24em;	
}

.book-form legend,.book-form fieldset  {
	border:1px solid black;
	background-color:lightblue;
}

.book-form legend {
	text-transform:uppercase;
	padding:5px 15px;
	background-color:cyan;
}

.book-form fieldset {
	padding:1.3em;
	
}

 .book-form {
	display: flex;
	
	transition: scale .5s ease-in-out;
	scale: 0;
}

.book-background {
	visibility: hidden;
}

.book-background {
	margin:0;	
	position:fixed;
	width: 100%;
	height: 100%;
	background-color:black;
	opacity:0.8;	
}

.book-form  input[type=submit],.close-button,.new-book-button button {
	opacity:0.6;
	font-size:1.3em;
	background-color:lightblue;
	padding:.5em;
	text-transform:uppercase;
	font-family: 'Josefin Sans', sans-serif;
	margin-top:.6em;
	border:none;
}

.book-form  input[type=submit]:hover,.close-button:hover,.new-book-button button:hover {
	opacity:1;	
	transition:opacity.5s ease;
	
}

.new-book-button {	
	postion:fixed;	
	width: 100%;
	text-align:center;	
}

.new-book-button button {
	background-color:red;
	postion:fixed;	
}





